<div class="wt-userlistinghold">
    <figure class="wt-userlistingimg">
        <img src="images/user/userlisting/img-06.jpg" alt="image description">
    </figure>
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="usersingle.html"><i class="fa fa-check-circle"></i> View All Jobs</a>
                <h2>{{ filter.title }}</h2>
                <h2>{{ filter.name }}</h2>
                <h2>{{ filter.department }}</h2>
                <h2>{{ filter.all_skills }}</h2>
            </div>
            <ul class="wt-userlisting-breadcrumb">
                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                <li><span><img src="images/flag/img-03.png" alt="img description">  Canada</span></li>
                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
            </ul>
        </div>
        <div class="wt-rightarea">
            <span class="wt-starsvtwo">
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star fill"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
        </div>
    </div>
    <div class="wt-description">
        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniamac quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="wt-tag wt-widgettag">
        <a href="javascript:void(0);">PHP</a>
        <a href="javascript:void(0);">HTML</a>
        <a href="javascript:void(0);">JavaScript</a>
        <a href="javascript:void(0);">WordPress</a>
    </div>
</div>