{% load static %}
{% load is_saved %}
{#<div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">#}
{#    <span class="wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>#}
{#    <div class="wt-userlistingcontent">#}
{#        <div class="wt-contenthead">#}
{#            <div class="wt-title">#}
{#                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Light Bulb Association</a>#}
{#                <h2>I want some customization and installation</h2>#}
{#            </div>#}
{#            <div class="wt-description">#}
{#                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>#}
{#            </div>#}
{#            <div class="wt-tag wt-widgettag">#}
{#                <a href="javascript:void(0);">PHP</a>#}
{#                <a href="javascript:void(0);">HTML</a>#}
{#                <a href="javascript:void(0);">JQuery</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="wt-viewjobholder">#}
{#            <ul>#}
{#                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>#}
{#                <li><span><em><img src="images/flag/img-04.png" alt="img description"></em>England</span></li>#}
{#                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>#}
{#                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>#}
{#                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>#}
{#                <li><a href="javascript:void(0);" class="wt-clicklike wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>#}
{#                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="wt-userlistinghold wt-userlistingholdvtwo">
    <div class="wt-userlistingcontent">
        <div class="wt-contenthead">
            <div class="wt-title">
                <a href="{{ job.company.get_absolute_url }}"><i class="fa fa-industry "></i> {{ job.company.company_profile.name }}</a>
                <h2>{{ job.title | title }}</h2>
                <h2><small>{{ job.category }}</small></h2>
            </div>
            <div class="wt-description">
                <p>{{ job.description | truncatewords:50 }}</p>
            </div>
            <div class="wt-tag wt-widgettag">
                {% for skill in job.skills.all %}
                    <a href="{% url 'jobs:jobs_skills_list' slug=skill.slug %}">{{ skill }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="wt-viewjobholder">
            <ul>
                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>{{ job.membership | title }}</span></li>
                <li><span><em><img src="{% static 'images/flag/img-01.png' %}" alt="img description"></em>{{ job.country | title }}</span></li>
                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: {{ job.job_type }}</span></li>
                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: {{ job.duration | title }}</span></li>
                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
                <li><span><i class="fa fa-balance-scale wt-viewjobtag"></i>Account Type: <small>{{ job.account_type }}</small></span></li>
                {% if request.user.is_authenticated and request.user.is_freelancer %}
                    {% is_saved  job.slug request.user as saved %}
                    {% if not saved %}
                        <li><a class="wt-clicklike wt-btndisbaled"><i class="far fa-heart"></i> Not Save</a></li>
                    {% else %}
                        <li><a class="wt-clicklike wt-btndisbaled"><i class="fa fa-heart"></i> Saved</a></li>
                    {% endif %}
                {% endif %}
                <li class="wt-btnarea"><a href="{{ job.get_absolute_url }}" class="wt-btn">View Job</a></li>
            </ul>
        </div>
    </div>
</div>