{% extends 'dashboard_base.html' %}
{% block title %}<title>Completed Jobs</title>{% endblock title %}
{% load static %}
{% block dashboard %}
<!--Register Form Start-->
<section class="wt-haslayout wt-dbsectionspace">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="wt-dashboardbox">
                <div class="wt-dashboardboxtitle">
                    <h2>All Jobs</h2>
                </div>
                <div class="wt-dashboardboxcontent wt-jobdetailsholder">
                    <div class="wt-completejobholder">
                        <div class="wt-tabscontenttitle">
                            <h2>Completed Jobs</h2>
                        </div>
                        <div class="wt-managejobcontent">
                            <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                <span class="wt-featuredtag"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                {% for completed_job in completed_jobs %}
                                    <div class="wt-userlistingcontent wt-userlistingcontentvtwo">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <h2>{{ completed_job.title | title }}</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> {{ completed_job.membership | title }}</span></li>
                                                <li><span><img src="{% static 'images/flag/img-04.png' %}" alt="img description"> {{ completed_job.country | title }}</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: {{ completed_job.job_type | title }}</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: {{ completed_job.duration | title }}</span></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <span> Project Complete</span>
                                                <a href="{% url 'jobs:job_detail' completed_job.slug %}" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>Hired</h4><span>{{ completed_job.hired_freelancer.freelancer_profile.get_full_name | title }}</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="{{ completed_job.hired_freelancer.freelancer_profile.avatar.url }}" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="wt-pagination wt-savepagination">
                    {% include 'partials/pagination.html' %}
                </nav>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent">
                        <figure>
                            <img src="{% static 'images/thumbnail/img-17.png' %}" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>150</h3>
                            <span>Total Ongoing Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent wt-componyfolow">
                        <figure>
                            <img src="{% static 'images/thumbnail/img-16.png' %}" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>1406</h3>
                            <span>Total Completed Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent  wt-freelancelike">
                        <figure>
                            <img src="{% static 'images/thumbnail/img-15.png' %}" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>2075</h3>
                            <span>Total Cancelled Jobs</span>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="wt-companyad">
                <figure class="wt-companyadimg"><img src="images/add-img.jpg" alt="img description"></figure>
                <span>Advertisement  255px X 255px</span>
            </div>
        </div>
    </div>
</section>
<!--Register Form End-->
{% endblock dashboard %}