{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}<title>Hired Jobs</title>{% endblock title %}
{% block dashboard %}
<section class="wt-haslayout wt-dbsectionspace">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="wt-dashboardbox">
                <div class="wt-dashboardboxtitle">
                    <h2>Manage Jobs</h2>
                </div>
                <div class="wt-dashboardboxcontent wt-jobdetailsholder">
                    <div class="wt-freelancerholder">
                        <div class="wt-tabscontenttitle">
                            <h2>Posted Jobs</h2>
                        </div>
                        {% if hired_jobs %}
                            <div class="wt-managejobcontent wt-verticalscrollbar mCustomScrollbar _mCS_1">
                                {% for hired_job in hired_jobs %}
                                    <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag wt-featuredtagcolor3"><img src="{% static 'images/featured.png' %}" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href=""><i class="fa fa-check-circle"></i> {{ hired_job.company.company_profile.name | title }}</a>
                                                <h2>{{ hired_job.title | title }}</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> {{ hired_job.membership | title }}</span></li>
                                                <li><span><img src="{% static 'images/flag/img-04.png' %}" alt="img description"> {{ hired_job.country | title }}</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: {{ hired_job.job_type }}</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: {{ hired_job.duration }}</span></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="{% url 'company:hired_job_detail' slug=hired_job.slug %}" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>Hired</h4><span>{{ hired_job.hired_freelancer.freelancer_profile.get_full_name }}</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="{{ hired_job.hired_freelancer.freelancer_profile.avatar.url }}" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <nav class="wt-pagination wt-savepagination">
                    {% include 'partials/pagination.html' %}
                </nav>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent">
                        <figure>
                            <img src="images/thumbnail/img-17.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>150</h3>
                            <span>Total Ongoing Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent wt-componyfolow">
                        <figure>
                            <img src="images/thumbnail/img-16.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>1406</h3>
                            <span>Total Completed Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent  wt-freelancelike">
                        <figure>
                            <img src="images/thumbnail/img-15.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>2075</h3>
                            <span>Total Cancelled Jobs</span>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="wt-companyad">
                <figure class="wt-companyadimg"><img src="images/add-img.jpg" alt="img description"></figure>
                <span>Advertisement  255px X 255px</span>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard %}