{% extends 'dashboard_base.html' %}
{% block title %}<title>Freelancer Skills</title>{% endblock %}
{% block dashboard %}
<!--Register Form Start-->
<section class="wt-haslayout">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="wt-haslayout wt-dbsectionspace">
                {% include 'partials/messages.html' %}
                <div class="wt-dashboardbox wt-dashboardtabsholder">
                    <div class="wt-dashboardboxtitle">
                        <h2>My Skills</h2>
                    </div>
                    <div class="wt-dashboardtabs">
                        <ul class="wt-tabstitle nav navbar-nav">
                            <li class="nav-item"><a class="active" data-toggle="tab" href="#wt-skills">Personal Skills</a></li>
                        </ul>
                    </div>
                    <div class="wt-tabscontent tab-content">
                        <div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
                            <div class="wt-yourdetails wt-tabsinfo">
                                <div class="wt-tabscontenttitle">
                                    <h2>Freelancer Skills</h2>
                                </div>
                                <div class="wt-skillscontent-holder">
                                    <form method="post" class="wt-formtheme wt-userform" novalidate >
                                    {% csrf_token %}{{ form.errors }}
                                    <fieldset>
                                        <div class="wt-jobskills wt-tabsinfo">
                                            <div class="form-group">
                                                {{ form.all_skills }}
                                            </div>
                                            {{ form.all_skills.errors }}
                                        </div>
                                        <div class="form-group form-group-half">
                                            {{ form.rate }}
                                        </div>
                                        <div class="form-group form-group-half">
                                            {{ form.title }}
                                        </div>
                                        {% if not form.instance.pk %}
                                            <button type="submit" class="wt-btn">add</button>
                                        {% else %}
                                            <button type="submit" class="wt-btn">update</button>
                                        {% endif %}
                                    </fieldset>
                                </form>{% if skills %}
                                    <div class="wt-myskills">
                                        {% for skill in skills %}
                                        <ul class="sortable list">
                                            <li>
                                                <div class="wt-dragdroptool handle"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">{{ skill.title | title }} (<em class="skill-val">{{ skill.rate }}</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="{{ skill.rate }}">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="{% url 'freelancer:skill_update' skill.id %}" class="wt-addinfo"><i class="lnr lnr-pencil"></i></a>
                                                    <a href="{% url 'freelancer:skill_delete' skill.id %}" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/sidebar.html' %}
    </div>
</section>
<!--Register Form End-->
{% endblock dashboard %}