{% extends 'dashboard_base.html' %}
{% block title %}<title>{{ user.freelancer_profile }} Saved Items</title>{% endblock title %}
{% block dashboard %}
<section class="wt-haslayout wt-dbsectionspace">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
            <div class="wt-dashboardbox wt-dashboardtabsholder wt-saveitemholder">
                <div class="wt-dashboardtabs">
                    <ul class="wt-tabstitle nav navbar-nav">
                        <li class="nav-item"><a class="active" data-toggle="tab" href="#wt-skills">Saved Jobs</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#wt-education">Followed Companies</a></li>
                        <li class="nav-item"><a data-toggle="tab" href="#wt-awards">Liked Freelancers</a></li>
                    </ul>
                </div>
                <div class="wt-tabscontent tab-content tab-savecontent">
                    <div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
                        <div class="wt-yourdetails">
                            <div class="wt-tabscontenttitle">
                                <h2>Saved Jobs</h2>
                            </div>
                            <div class="wt-dashboradsaveitem">
                                <div class="wt-userlistinghold wt-featured wt-dashboradsaveditems">
                                    <span class="wt-dashboardsavetag wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Choosen Design
                                                </a>
                                                <h2>Translation and Proof Reading (Multi Language)</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-dashboradsaveditems">
                                    <span class="wt-dashboardsavetag wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Designer Finger
                                                </a>
                                                <h2>Change temp to Arabic and install on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-dashboradsavebg">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Light Bulb Association
                                                </a>
                                                <h2>I want some customization and installation on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-dashboradsavebg">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Point Trend Studio
                                                </a>
                                                <h2>Website changes in HTML & PHP</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-dashboradsaveditems">
                                    <span class="wt-dashboardsavetag wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Choosen Design
                                                </a>
                                                <h2>Translation and Proof Reading (Multi Language)</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-dashboradsaveditems">
                                    <span class="wt-dashboardsavetag wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Designer Finger
                                                </a>
                                                <h2>Change temp to Arabic and install on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-dashboradsavebg">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Light Bulb Association
                                                </a>
                                                <h2>I want some customization and installation on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-dashboradsavebg">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead wt-dashboardsavehead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Point Trend Studio
                                                </a>
                                                <h2>Website changes in HTML & PHP</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Saved</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="wt-pagination wt-savepagination">
                            {% include 'partials/pagination.html' %}
                        </nav>
                    </div>
                    <div class="wt-educationholder tab-pane fade" id="wt-education">
                        <div class="wt-userexperience wt-followcompomy">
                            <div class="wt-tabscontenttitle">
                                <h2>Followed Companies</h2>
                            </div>
                            <div class="wt-focomponylist">
                                {% for company in followed_companies %}
                                    <div class="wt-followedcompnies">
                                        <div class="wt-userlistinghold wt-userlistingsingle">
                                            <figure class="wt-userlistingimg">
                                                <img src="{{ company.company_profile.logo.url }}" alt="image description">
                                            </figure>
                                            <div class="wt-userlistingcontent">
                                                <div class="wt-contenthead wt-followcomhead">
                                                    <div class="wt-title">
                                                        {% if company.company_profile.confirmed %}
                                                            <a href="javascript:void(0);"><i class="fa fa-check-circle"></i> Verified Company</a>
                                                        {% else %}
                                                            <a href="javascript:void(0);"><i class="fa fa--circle"></i> UnVerified Company</a>
                                                        {% endif %}
                                                        <h3>{{ company.company_profile.name | title }}</h3>
                                                    </div>
                                                    <ul class="wt-followcompomy-breadcrumb wt-userlisting-breadcrumb">
                                                        <li><a href="javascript:void(0);"> Open Jobs  </a></li>
                                                        <li><a href="{% url 'company:company_detail' username=company.username %}"> Full Profile</a></li>
                                                        <li><a href="javascript:void(0);" disabled class="wt-savefollow wt-btndisbaled"> Following</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <nav class="wt-pagination wt-savepagination">
                            {% include 'partials/pagination.html' %}
                        </nav>
                    </div>
                    <div class="wt-awardsholder tab-pane fade" id="wt-awards">
                        <div class="wt-addprojectsholder wt-likefreelan">
                            <div class="wt-tabscontenttitle">
                                <h2>Liked Freelancers</h2>
                            </div>
                            <div class="wt-likedfreelancers wt-haslayout">
                                <div class="wt-userlistinghold wt-featured">
                                    <span class="wt-featuredtag"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-01.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Alfredo Bossard
                                                </a>
                                                <h2>Classifieds Posting, Data Entry, Typing</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-02.png" alt="img description">  United States</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured">
                                    <span class="wt-featuredtag wt-featuredtagcolor1"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-02.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Marcelene Westerberg</a>
                                                <h2>SEO/PPC Social Media Marketing Expert</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-05.png" alt="img description">  United Emirates</span></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured">
                                    <span class="wt-featuredtag wt-featuredtagcolor2"><img src="images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-03.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i>Vance Applebaum</a>
                                                <h2>Skilled Full Stack Web Developer</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-01.png" alt="img description">  Australia</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold">
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-07.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Herlinda Hundley
                                                </a>
                                                <h2>Pioneers Of eCommerce Data Entry</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-04.png" alt="img description">  England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold">
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-04.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Valentine Mehring</a>
                                                <h2>SEO Expert &amp; Consultant</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-03.png" alt="img description">  Canada</span></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold">
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-05.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Herlinda Hundley</a>
                                                <h2>Pioneers Of eCommerce Data Entry</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-02.png" alt="img description">  United States</span></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold">
                                    <figure class="wt-userlistingimg">
                                        <img src="images/user/userlisting/img-06.jpg" alt="image description">
                                    </figure>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Valentine Mehring</a>
                                                <h2>SEO Expert &amp; Consultant</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="images/flag/img-03.png" alt="img description">  Canada</span></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star fill"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <span class="wt-starcontent">4.5/<sub>5</sub> <em>(860 Feedback)</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="wt-pagination wt-savepagination">
                            <ul>
                                <li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
                                <li><a href="javascrip:void(0);">1</a></li>
                                <li><a href="javascrip:void(0);">2</a></li>
                                <li><a href="javascrip:void(0);">3</a></li>
                                <li><a href="javascrip:void(0);">4</a></li>
                                <li><a href="javascrip:void(0);">...</a></li>
                                <li><a href="javascrip:void(0);">50</a></li>
                                <li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent">
                        <figure>
                            <img src="images/save-1.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>150</h3>
                            <span>Jobs you saved</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent wt-componyfolow">
                        <figure>
                            <img src="images/save-2.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>1406</h3>
                            <span>Companies you followed</span>
                        </div>
                    </div>
                </div>
                <div class="wt-proposalsr">
                    <div class="wt-proposalsrcontent  wt-freelancelike">
                        <figure>
                            <img src="images/save-3.png" alt="image">
                        </figure>
                        <div class="wt-title">
                            <h3>2075</h3>
                            <span>Freelancers you liked</span>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="wt-companyad">
                <figure class="wt-companyadimg"><img src="images/add-img.jpg" alt="img description"></figure>
                <span>Advertisement  255px X 255px</span>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard %}