{% extends 'dashboard_base.html' %}
{% block title %} <title>Change Password</title>{% endblock title %}
{% block dashboard %}
<section class="wt-haslayout wt-dbsectionspace">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 m-auto">
            <div class="wt-dashboardbox wt-dashboardtabsholder wt-accountsettingholder">
                <div class="wt-dashboardtabs">
                    <ul class="wt-tabstitle nav navbar-nav">
                        <li class="nav-item"><a class="active" data-toggle="tab" href="#wt-password">Password</a></li>
                    </ul>
                </div>
                <div class="wt-tabscontent tab-content">
                    <div class="wt-passwordholder tab-pane active fade show" id="wt-password">
                        <div class="wt-changepassword">
                            <div class="wt-tabscontenttitle">
                                <h2>Change Your Password</h2>
                            </div>
                            <form class="wt-formtheme wt-userform" novalidate method="post">{% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.old_password }}
                                        {{ form.old_password.errors }}
                                    </div>
                                    <div class="form-group form-group-half">
                                        {{ form.new_password1 }}
                                        {{ form.new_password1.errors }}
                                    </div>
                                    <div class="form-group form-group-half">
                                        {{ form.new_password2 }}
                                        {{ form.new_password2.errors }}
                                    </div>
                                    <div class="form-group">
                                        <button class="wt-btn" type="submit">Change Password</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock dashboard %}