{% extends 'base.html' %}
{% block content %}
    {% include 'partials/messages.html' %}
    <div class="wt-haslayout wt-joininfo">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
                    <div class="wt-companyinfo">
                        <span>Email Confirmation link has been sent to your email address
                        kindly click the confirmation link to activate your account.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}