{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    {% block title %}<title></title>{% endblock %}
    {% include 'partials/stylesheet.html' %}
</head>
<body {% if not user.is_authenticated %}class="" {% else %}class="wt-login"{% endif %}>
	<!-- Preloader Start -->
{#	<div class="preloader-outer">#}
{#		<div class="loader"></div>#}
{#	</div>#}
	<!-- Preloader End -->
	<!-- Wrapper Start -->
	<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
		<!-- Content Wrapper Start -->
		<div class="wt-contentwrapper">
			<!-- Header Start -->
			{% include 'partials/navbar.html' %}
			<!--Header End-->
			<!--Main Start-->
            {% block slider %}
                <div class="wt-categoriesslider-holder wt-haslayout">
                    <div class="wt-title">
                        <h2>Jobs By Countries:</h2>
                    </div>
                    <div id="wt-categoriesslider" class="wt-categoriesslider owl-carousel">
                        {% for country in footer_countries %}
                            <div class="wt-categoryslidercontent item">
                                <figure><img src="{{ country.flag.url }}" alt="image description"></figure>
                                <div class="wt-cattitle">
                                    <h3><a href="{{ country.get_absolute_url }}">{{ country.name | title }}</a></h3>
                                    <span>Jobs: {{ country.jobslistings_set.count }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock slider %}
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<div class="wt-haslayout wt-main-section">
					<!-- User Listing Start-->
					<div class="wt-haslayout">
						<div class="container">
                        {% include 'partials/messages.html' %}
							<div class="row">
								<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                                    <!-- SIDEBAR STARTS -->
                                        {% include 'snippets/sidebar.html' %}
                                    <!-- SIDEBAR ENDS -->
									<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
										<div class="wt-userlistingholder wt-haslayout">
                                            {% block listing %}
                                                {% for job in joblistings %}
                                                    {% include 'snippets/jobs_card.html' %}
                                                {% endfor %}
                                                <nav class="wt-pagination">
                                                    {% include 'partials/pagination.html' %}
                                                </nav>
                                            {% endblock listing %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- User Listing End-->
				</div>
			</main>
			<!--Main End-->
			<!--Footer Start-->
            {% include 'partials/footer.html' %}
			<!--Footer End-->
		</div>
		<!--Content Wrapper End-->
	</div>
	<!--Wrapper End-->
{% include 'partials/scripts.html' %}
</body>
</html>